name: Lint Repository Files

on:
  pull_request:
    branches: [main]
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Check if all files end in newline
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check final newline
        uses: qwrtln/check-final-newline@6dad6072a550df84ee0587219a2a4e3fabf84c9c
